@model coursework_db_mvc_cf.Models.DB.Рейс

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Рейс</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ИД)
    <div class="form-group">
        @Html.LabelFor(model => model.НомерБилета, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.НомерБилета, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.НомерБилета, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ТипТранспорта, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ТипТранспорта, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ТипТранспорта, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.СтранаОтправления, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.СтранаОтправления, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.СтранаОтправления, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.СтранаПрибытия, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.СтранаПрибытия, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.СтранаПрибытия, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ДатаОтправления, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ДатаОтправления, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ДатаОтправления, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ДатаПрибытия, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.ДатаПрибытия, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ДатаПрибытия, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.СтоимостьПоездки, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.СтоимостьПоездки, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.СтоимостьПоездки, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Сохранить" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Вернуться к списку", "Index")
</div>
