@model coursework_db_mvc_cf.Models.DB.Тур

@{
    ViewBag.Title = "Удалить";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Тур</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Место_отдыха.Название)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Место_отдыха.Название)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ночёвка.Тип_номера)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ночёвка.Тип_номера)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Рейс.ТипТранспорта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Рейс.ТипТранспорта)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Рейс1.ТипТранспорта)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Рейс1.ТипТранспорта)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вкл_гида)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вкл_гида)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вкл_питание)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вкл_питание)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вкл_ночёвка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вкл_ночёвка)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Вкл_поездка)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Вкл_поездка)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Общая_стоимость)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Общая_стоимость)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Длительность_отдыха_в_днях)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Длительность_отдыха_в_днях)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
