@model coursework_db_mvc_cf.Models.DB.Отель

@{
    ViewBag.Title = "Delete";
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Отель</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Адрес.Страна)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Адрес.Страна)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Название_отели)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Название_отели)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Рейтинг)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Рейтинг)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Индекс)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Индекс)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
