@model IEnumerable<coursework_db_mvc_cf.Models.DB.Отель>

@{
    ViewBag.Title = "Index";
}

<h2>Список отелей</h2>

<p>
    @Html.ActionLink("Добавить", "Create")
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Адрес.Страна)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Название_отели)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Рейтинг)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Индекс)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Адрес.Страна)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Название_отели)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Рейтинг)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Индекс)
                </td>
                <td>
                    @Html.ActionLink("Изменить", "Edit", new { id = item.ИД }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.ИД })
                </td>
            </tr>
        }
    </tbody>
</table>
